<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 *ngDebug="'This is just a string!'">
    Welcome to @sebgroup/ng-debug demo!
  </h1>
</div>
<h2>Try: </h2>
<ul>
  <li>
    <h2 *ngDebug="[ 'press', 'them', 'together' ]">Press buttons: 'd' + 'b' + 'g'</h2>
  </li>
  <li>
    <h2 *ngDebug="exampleObject">Open console in developer tools and type 'ngdbg()'</h2>
  </li>
  <li>
    <h2 *ngDebug="exampleArray"><a (click)="toggleMenu()">Click here</a></h2>
  </li>
</ul>